h1{  
    text-align: center;
    color:darkred; 
    font-family:Lucida Handwriting
}

ul {
    width: 10%; 
    margin: auto;
    line-height:3em;
    font-weight:bolder;
    font-size:xx-large
  }














































  